@model EventManagerWeb.Models.Guests.GuestsViewModel

<div>
    <h3>Guests List</h3>
    <div id="guestsTable">
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp customTable" id="eventsIndexTable">
            <thead>
                <tr>
                    <th style="text-align:center">First Name</th>
                    <th style="text-align:center">Last Name</th>
                    <th style="text-align:center">Email</th>
                    <th style="text-align:center">Comment</th>
                    <th style="text-align:center">Participates In Events</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var guest in Model.Guests)
                {
                    <tr>
                        <td class="">@guest.FirstName</td>
                        <td class="">@guest.LastName</td>
                        <td class="">@guest.Email</td>
                        <td class="">@guest.Comment</td>
                        <td class="">@guest.ListOfEvents.Count()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>