@model EventManagerWeb.Models.Events.EventsViewModel

<div>
    <h3>Events List</h3>
    <div id="eventsTable">
        <form method="post">
            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp customTable" id="eventsIndexTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Created</th>
                        <th>Date Happens</th>
                        <th>Location</th>
                        <th>Guests</th>
                        <th>Max Guests</th>
                        <th>Seats Remaining</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var eventModel in Model.Events)
                    {
                        <tr>
                            <td class="">@eventModel.Name</td>
                            <td class="">@eventModel.Description</td>
                            <td class="">@eventModel.EventType</td>
                            <td class="">@eventModel.DateAdded</td>
                            <td class="">@eventModel.DateHappens</td>
                            <td class="">@eventModel.Location</td>
                            <td class="">@eventModel.GuestsCount</td>
                            <td class="">@eventModel.MaxGuestsCount</td>
                            <td class="">@eventModel.RemainingNumberOfSeats</td>
                            <td class="">
                                <div class="text=center">
                                    <a asp-action="AddOrUpdate" asp-route-id="@eventModel.Id" class="btn btn-success text-white" style="cursor:pointer; width:70px;">
                                        Edit
                                    </a>
                                    @*<a asp-action="Archive" asp-route-id="@eventModel.Id" class="btn btn-danger text-white" style="cursor:pointer; width:70px;">
                                            Archive
                                        </a>*@
                                    <button asp-action="Archive" asp-controller="Events" asp-route-id="@eventModel.Id" onclick="return confirm('Are you sure you want to archive this event?')" style="cursor:pointer; width:70px;" class="btn btn-danger text-white">Archive</button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>

        <br />
        <br />

        <div class="form-group row">
            <div class="col-3">
                <p><a class="btn btn-lg btn-info" role="button" asp-controller="Events" asp-action="AddOrUpdate">Add new Event</a></p>
            </div>
        </div>

    </div>
</div>